# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
a
.pytest_cache/

# C extensions
*.so
.tmp.driveupload/
.tmp.drivedownload/

# Distribution / packaging
build/
develop-eggs/
lib/
lib64/
parts/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
tools/
archive/
dist/
**/desktop

# Virtual Environments
.tox/
ENV/

# IDE-specific files
.idea/