# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
a
.pytest_cache/

# C extensions
*.so
.tmp.driveupload/
.tmp.drivedownload/

# Distribution / packaging
build/
develop-eggs/
lib/
lib64/
parts/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
archive/
dist/
**/desktop
*/watch_yaml_stdout.log
*/watch_yaml_stderr.log
*/last_validation.txt
output/last_validation.txt
# Virtual Environments
.tox/
ENV/
.venv/
# IDE-specific files
.idea/
