# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
a
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist_copy/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.tox/
.venv/
ENV/

# IDE-specific files
.idea/
.tmp.driveupload/16393
.tmp.driveupload/16397
.tmp.driveupload/16401
.tmp.driveupload/16405
.tmp.driveupload/16409
.tmp.driveupload/16413
.tmp.driveupload/16415
.tmp.driveupload/16417
.tmp.driveupload/16421
.tmp.driveupload/16423
.tmp.driveupload/16427
.tmp.driveupload/16429
.tmp.driveupload/16433
.tmp.driveupload/16437
.tmp.driveupload/16441
.tmp.driveupload/16445
.tmp.driveupload/16447
.tmp.driveupload/16449
.tmp.driveupload/16453
.tmp.driveupload/16457
.tmp.driveupload/16461
.tmp.driveupload/16465
.tmp.driveupload/16469
.tmp.driveupload/16473
.tmp.driveupload/16477
.tmp.driveupload/16481
.tmp.driveupload/16483
.tmp.driveupload/16487
.tmp.driveupload/16491
.tmp.driveupload/16493
.tmp.driveupload/16497
.tmp.driveupload/16501
.tmp.driveupload/16503
.tmp.driveupload/16507
.tmp.driveupload/16511
.tmp.driveupload/16515
.tmp.driveupload/16519
.tmp.driveupload/16521
.tmp.driveupload/16525
.tmp.driveupload/16529
.tmp.driveupload/16531
.tmp.driveupload/16535
.tmp.driveupload/16539
.tmp.driveupload/16543
.tmp.driveupload/16547
.tmp.driveupload/16551
.tmp.driveupload/16555
.tmp.driveupload/16559
.tmp.driveupload/16563
.tmp.driveupload/16567
.tmp.driveupload/16571
.tmp.driveupload/16575
.tmp.driveupload/16579
.tmp.driveupload/16583
.tmp.driveupload/16587
.tmp.driveupload/16591
.tmp.driveupload/16595
.tmp.driveupload/16599
.tmp.driveupload/16603
.tmp.driveupload/16607
.tmp.driveupload/16613
.tmp.driveupload/16617
.tmp.driveupload/16621
.tmp.driveupload/16625
.tmp.driveupload/16629
.tmp.driveupload/16631
.tmp.driveupload/16635
.tmp.driveupload/16639
.tmp.driveupload/16643
.tmp.driveupload/16647
.tmp.driveupload/16651
.tmp.driveupload/16655
.tmp.driveupload/16659
.tmp.driveupload/16663
.tmp.driveupload/16667
.tmp.driveupload/16671
.tmp.driveupload/16675
.tmp.driveupload/16679
.tmp.driveupload/16683
.tmp.driveupload/16689
.tmp.driveupload/16693
.tmp.driveupload/22461
dist/monstergenerators-0.3.0-py3-none-any.whl
