[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "mongens"
version = "0.1.0"
authors = [
  { name="Your Name", email="your.email@example.com" },
]
description = "A fantasy monster generator."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/yourusername/monstergenerators"
"Bug Tracker" = "https://github.com/yourusername/monstergenerators/issues"
